<!--
TODO:
- Add state selection in top, make static size and adjust padding of #charts-container and auto-scrolling
- Add daterange
 -->
 
<div id="graphs-container">

    <div id="charts-container"></div>

    <div id="loading">
        <h1>Loading...</h1>
    </div>

    <div id="redrawing" style="display: none;">
        <h1>Redrawing charts...</h1>
    </div>

    <!--
    <div id="testing">
    </div>

    <div class="row" id="map1">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Map 1</div>
                <div class="panel-body">
                    <div id="myGraph" style="position: relative; width: 400px; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>-->

</div>

<script type="text/javascript" src="/javascripts/graphs/index.js"></script>