<!--
TODO:
- Keep left navigation from scrolling with page (make sticky)
- Get panels back
- Add state selection in top, make static size and adjust padding of #charts-container and auto-scrolling
- Add daterange
 -->

<div id="charts-container">
    <!--<div class="row" id="chart1">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Chart 1</div>
                <div class="panel-body">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    -->
</div>

<div id="loading">
    <h1>Loading...</h1>
</div>

<!--
<div id="blue-test" style="height: 400px; background-color: blue;"></div>
<div id="green-test" style="height: 400px; background-color: green;"></div>

<div class="row" id="map1">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Map 1</div>
            <div class="panel-body">
                <div id="myGraph" style="position: relative; width: 400px; height: 400px;"></div>
            </div>
        </div>
    </div>
</div>-->


<script type="text/javascript" src="/javascripts/graphs/index.js"></script>