#graphs-container {
    h2 {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 8px;
    }
    
    #testing {
        background-color: red;
        height: 2000px;
    }
}
