.navbar {
    height: 90px;

    .container {
        padding-top: 32px;
        padding-bottom: 24px;
    }
}

body { 
    #body {
        padding:45px;
        padding-top: 90px;
    }

    .row {
        padding-top: 32px;
        margin-bottom: 0;
    }
}
