// .navbar {
//     .container {
//         padding-top: 32px;
//         padding-bottom: 24px;
//     }
// }

body { 

    #sidebar-wrapper {
        position: fixed;
        top: 0;
        left: 0;

        .list-group {
            width: 238px;
        }
    }

    #page-content-wrapper {
        margin-left: 240px;

        .navbar { 
            position: fixed;
            top: 0;
            left: 240px;
            right: 0;
            height: 78px;
            z-index: 100;
        }

        .container-fluid {
            padding-top: 80px;
        }
    }

    .toggled #page-content-wrapper {
        margin-left: 0;

        .navbar {
            left: 0;
        }
    }

    // #body {
    //     padding:45px;
    //     padding-top: 90px;
    // }

    .row {
        padding-top: 32px;
        margin-bottom: 0;
    }

    #testing {
        background-color: red;
        height: 2000px;
    }
}
