<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-default" href="#chart1">Chart 1</a>
            <a type="button" class="btn btn-default" href="#map1">Map 1</a>
        </div>
    </div>
</nav>