<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Testtesttesttest</button>
            <button type="button" class="btn btn-default">Testtesttesttest</button>
            <button type="button" class="btn btn-default">Testtesttesttest</button>
            <button type="button" class="btn btn-default">Testtesttesttest</button>
            <button type="button" class="btn btn-default">Testtesttesttest</button>
            <button type="button" class="btn btn-default">Testtesttesttest</button>
            <button type="button" class="btn btn-default">Testtesttesttest</button>
            <button type="button" class="btn btn-default">Testtesttesttest</button>
        
        </div>
    </div>
</nav>